<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> </head>

<body>
<h1>Выберете действие</h1>
<p><a href="/addDataPage">Записать данные о пользователе</a> </body></p>

<p><a href="/load">Загрузить сохранённые данные пользователе</a> </body></p>
<p><a href="/emailPage">Отправить письмо пользователю</a> </body></p>
<p><a href="/find">Найти данные по файлу</a> </body></p>
</body>

</html>
